<app-header></app-header>

<div class="container-fluid mt-4">
    <div class="col-lg-12 mx-auto px-4">
        <div class="sub_head"><span>//</span> Deal Log</div>
        <div class="grid_bg">
        <div class="deallog ">
            <table >
                <thead>
                    <tr >
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="2">Customer</th>
                        <!-- <th></th> -->
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Action</th>
                        <th>Messages</th>
                        <th>
                          <div class="dropdown">
                          <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Age
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">20</a>
                            <a class="dropdown-item" href="#">22</a>
                            <a class="dropdown-item" href="#">24</a>
                          </div>
                          </div>
                      </th>
                      <th>
                          <div class="dropdown">
                          <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Deal Date
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">20</a>
                            <a class="dropdown-item" href="#">22</a>
                            <a class="dropdown-item" href="#">24</a>
                          </div>
                          </div>
                      </th>
                      <th>
                          <div class="dropdown" style="text-align:center">
                          <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              First Name
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">20</a>
                            <a class="dropdown-item" href="#">22</a>
                            <a class="dropdown-item" href="#">24</a>
                          </div>
                          </div>
                      </th>
                      <th>
                          <div class="dropdown">
                          <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Last Name
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">20</a>
                            <a class="dropdown-item" href="#">22</a>
                            <a class="dropdown-item" href="#">24</a>
                          </div>
                          </div>
                      </th>
                      <th>
                          <div class="dropdown">
                          <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Deal #
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">20</a>
                            <a class="dropdown-item" href="#">22</a>
                            <a class="dropdown-item" href="#">24</a>
                          </div>
                          </div>
                      </th>
                      <th>
                          <div class="dropdown">
                          <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Stock #
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">20</a>
                            <a class="dropdown-item" href="#">22</a>
                            <a class="dropdown-item" href="#">24</a>
                          </div>
                          </div>
                      </th>
                      <th>
                          <div class="dropdown">
                          <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Store
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">20</a>
                            <a class="dropdown-item" href="#">22</a>
                            <a class="dropdown-item" href="#">24</a>
                          </div>
                          </div>
                      </th>
                      <th>
                          <div class="dropdown">
                          <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             N / U
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">20</a>
                            <a class="dropdown-item" href="#">22</a>
                            <a class="dropdown-item" href="#">24</a>
                          </div>
                          </div>
                      </th>
                      <th>
                          <div class="dropdown">
                          <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Price
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">20</a>
                            <a class="dropdown-item" href="#">22</a>
                            <a class="dropdown-item" href="#">24</a>
                          </div>
                          </div>
                      </th>
                      <th>
                          <div class="dropdown">
                          <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Trade
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">20</a>
                            <a class="dropdown-item" href="#">22</a>
                            <a class="dropdown-item" href="#">24</a>
                          </div>
                          </div>
                      </th>
                      <th>
                          <div class="dropdown">
                          <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Trade Price
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">20</a>
                            <a class="dropdown-item" href="#">22</a>
                            <a class="dropdown-item" href="#">24</a>
                          </div>
                          </div>
                      </th>
                      <th>
                          <div class="dropdown">
                          <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Salesperson 1
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">20</a>
                            <a class="dropdown-item" href="#">22</a>
                            <a class="dropdown-item" href="#">24</a>
                          </div>
                          </div>
                      </th>
                      <th>
                          <div class="dropdown">
                          <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Salesperson 2
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">20</a>
                            <a class="dropdown-item" href="#">22</a>
                            <a class="dropdown-item" href="#">24</a>
                          </div>
                          </div>
                      </th>
                      <th>
                          <div class="dropdown">
                          <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              F&I Manager
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">20</a>
                            <a class="dropdown-item" href="#">22</a>
                            <a class="dropdown-item" href="#">24</a>
                          </div>
                          </div>
                      </th>
                      <th>
                          <div class="dropdown">
                          <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Sales Manager
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">20</a>
                            <a class="dropdown-item" href="#">22</a>
                            <a class="dropdown-item" href="#">24</a>
                          </div>
                          </div>
                      </th>
                      <th>
                          <div class="dropdown">
                          <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Controller
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">20</a>
                            <a class="dropdown-item" href="#">22</a>
                            <a class="dropdown-item" href="#">24</a>
                          </div>
                          </div>
                      </th>
                      <th>
                          <div class="dropdown">
                          <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Date
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">20</a>
                            <a class="dropdown-item" href="#">22</a>
                            <a class="dropdown-item" href="#">24</a>
                          </div>
                          </div>
                      </th>
                        <th *ngFor="let x of settingdata">
                          <div class="dropdown" >
                          <button class="btn  dropdown-toggle" >
                              {{x.sTrackingsteps}}
                          </button>
                          <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">20</a>
                            <a class="dropdown-item" href="#">22</a>
                            <a class="dropdown-item" href="#">24</a>
                          </div> -->
                          </div>
                      </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of view">
                        <td><img src="../../assets/images/edit_gry.png" alt="" class="img-fluid"></td>
                        <td><img src="../../assets/images/chat_blu.png" alt="" class="img-fluid"></td>
                        <td>{{i.age}}</td>
                        <td>{{i.contractdate|date:'MM.dd.YY'}}</td>
                        <td>{{i.custFname}}</td>
                        <td>{{i.custLname}}</td>
                        <td>{{i.dealno}}</td>
                        <td>{{i.stockno}}</td>
                        <td>{{i.store}}</td>
                        <td>{{i.dealtype}}</td>
                        <td>{{i.price}}</td>
                        <td>{{i.trade}}</td>
                        <td>{{i.tradePrice}}</td>
                        <td>{{i.salesperson1}}</td>
                        <td>{{i.salesperson2}}</td>
                        <td>{{i.fimgr1}}</td>
                        <td>{{i.salesmgr}}</td>
                        <td>{{i.controller}}</td>
                        <td>{{i.contractdate |  date: 'M-dd-yyyy'}}</td>
                        <!-- <td>2022-05-15</td>
                        <td>2022-05-15</td>
                        <td>2022-05-15</td>
                        <td>2022-05-15</td>
                        <td>2022-05-15</td> -->
                    </tr>

                </tbody>
                </table>
        </div>
    </div>
    </div>
</div>
